@font-face {
  font-family: "Thmanyah Sans";
  src: url("images/fonts/thmanyah/thmanyahsans-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah Sans";
  src: url("images/fonts/thmanyah/thmanyahsans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah Sans";
  src: url("images/fonts/thmanyah/thmanyahsans-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah Sans";
  src: url("images/fonts/thmanyah/thmanyahsans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah Sans";
  src: url("images/fonts/thmanyah/thmanyahsans-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
